<tr>
  <td>
    <%= image_tag product.image.tiny %>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <p><%=quantity%></p>
  </td>
  <td>
    <p><%=humanized_money_with_symbol total_line_price / 100.0%></p>
  </td>
</tr>
